**/.env
**/env.dev
**/__pycache__/
__pycache__/
*.pyc
case_feedback.log
feedback.log
dot_env_microtutor.txt
debug_log.log
llm_interactions.log
Datasets/
conversation_history.txt
patient_convo_history.txt
patient_tool_called.txt
case.txt
docs/
tests/